<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<table>
  <tr>
    <th>numeros</th>
  </tr>
  <tr  *ngFor="let eventChunks of events;">
    <td>{{eventChunks}}</td>
  </tr>
</table>

<!-- <table>
  <tr>
    <th>numeros</th>
  </tr>
  <tr  *ngFor="let eventChunks of data[0];">
    <td>{{eventChunks}}</td>
  </tr>
</table>

<table>
  <tr>
    <th>numeros</th>
  </tr>
  <tr  *ngFor="let eventChunks of data[1];">
    <td>{{eventChunks}}</td>
  </tr>
</table> -->
<table *ngFor="let eventChunks of data; let i = index;" #table>
  <tr *ngIf="i === data.length-1" >
    <th >Valores {{data[data.length-1].length }}</th>
  </tr>
  <tr *ngIf="i === 0" >
    <th >numeros {{data[0].length}}</th>
  </tr>
 <!-- <p>{{data[data.length-1].length-1 +1}}</p> -->
  <tr  *ngFor="let eventChunks of data[i]; let i = index" [attr.data-index]="i">

    <td >{{eventChunks}} </td>
  </tr>
</table>